<footer>
    <div class="bg-accent mt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-lg-left text-center">
                    <h4>
                        Reach out to hire YTubers
                    </h4>
                </div>

                <div class="col-sm-6 text-lg-right text-center">
                    <a href="{% url 'contact' %}" class="btn btn-light">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-lg-left text-center">
                <h5>
                    2020 YTubers for Hire
                </h5>
            </div>
            <div class="col-md-4 text-lg-center text-center">
                <h5>
                    All Rights Reserved
                </h5>
            </div>
            <div class="col-md-4 text-lg-right text-center">
                <div>

                    <a href="https://www.facebook.com/profile.php?id=100004524935894" class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </a>
                    <a href="https://www.instagram.com/n0_n4m3______/" class="btn btn-accent"> <i class="fab fa-instagram fa-lg	"></i> </a>
                    <a href="https://github.com/shivam8368" class="btn btn-accent"> <i class="fab fa-github fa-lg	"></i> </a>
                    <a href="https://www.linkedin.com/in/shivam-kushwaha-a4762b198/" class="btn btn-accent"> <i class="fab fa-linkedin fa-lg	"></i> </a>

                </div>
            </div>

        </div>
    </div>
</footer>